@page
<div class="jumbotron text-center">
    <h1></h1>
    <p></p>
</div>
<div class="container">
    <input type="text" id="msg" class="form-control" />
    <input type="button" id="broadcast" value="Broadcast" class="btn btn-success" />

    <ul id="messages" class="list-group border"></ul>
</div>

@*En el index hay que hacer las referencias a los archivos .js*@

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/broadcast.js"></script>
